
.dropdown {
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
  
}




.dropdown .caretbtn{
  margin-left: -4px;
  width: 36px;
}




 .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  z-index: 1;
  
}

.tema1 .dropdown .dropdown-content{

  background: #E6E6E6;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.tema2 .dropdown .dropdown-content{

  background: #B4B4B4;
  box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}




.tema1 .dropdown .dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
  width: 118px;
  height: 22px;
  margin: 10px;
  padding: 7px 16px;
  background: #F0F0F0;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

.tema1 .dropdown .dropdown-content a.elegido{
  background: #FFF4FD;
  border: 1px solid #CCA6C9;
  box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
}


.tema2 .dropdown .dropdown-content a.elegido{
  background: #2E32FB;
  border: 1px solid rgba(51,53,143,0.20);
  box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
}
  


.tema2 .dropdown .dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
  background: #CCCCCC;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  width: 118px;
  height: 22px;
  margin: 10px;
  padding: 7px 16px;
}


.dropdown .dropdown-content a:hover {
  background-color: #ddd;
}


.dropdown:hover .dropdown-content {
  display: block;
}


.tema1 .dropdown:hover .boton {
  background-color: #E6BBE2;
  
}

.tema2 .dropdown:hover .boton{
  background-color: #A72CB3;
  border: 1px dotted #110038; 
}

.dropdown:hover .boton::after{
  content: '';
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
  border: 1px dotted #110038;
}


.tema1 button.boton.caretbtn{
  background-image: url('../imgs/dropdown.svg');
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: bottom;


}


.tema2 button.boton.caretbtn{
  background-image: url('../imgs/forward.svg');
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: bottom;
  transform: rotate(90deg)

}
